extends layout

block content
  h1= title
  p Welcome to #{title}
  video(width="100%" src="/function/video" controls="controls" )
    //- source(src="/function/video?name=lssf-11w_from yamasake.avi" type="video/mp4")