extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/function/upload" method='post' enctype='multipart/form-data')
    input(type="file" name='inputFile')
    input(type='submit')
